body{
    background-color:slategray;
}

.khung {
    height: 300px;
    width: 300px;
    border: 2px solid #b1154a;
    background-color:antiquewhite;
    margin-left:600px;
    margin-top:200px;
}
.header{
    text-align:center;
    color:white;
    background-color:brown;
}
.name{
    font-size: 20px;
    padding-left:5px;
}
.formfield{
    padding-left:10px;
}
.btn{
    background-color:brown;
    position:center;
    margin-left:90px;
    color:white;
    margin-top:20px;
}

.vien {
    border: 2px solid #b1154a;
    margin-left: 600px;
    margin-top: 100px;
    height: 350px;
    width: 400px;
}
.l{
    color:brown;
    font-size:25px;
    float:right;
}
.button{
    margin-left:100px;
}