body {
    background-color: #0B0719;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #696969;
}

    a:hover, a:hover p {
        color: #adad90;
    }

ul {
    list-style-type: none;
}

p {
    color: white;
    font-size: 25px;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 15px 0px;
    transition: all 0.5s ease-in-out;
}

.sticky {
    background-color: #fff;
    opacity: 0.9;
    padding: 2px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

    .sticky #mainmenu a {
        color: #000;
    }
/*menu*/

.innerheader {
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#mainmenu {
    display: flex;
}

    ul#mainmenu a {
        display: block;
        color: #fff;
        padding: 10px 20px;
        text-transform: uppercase;
    }

.innerheader img {
    width: 100px;
    height: 60px;
}

innerheader img:hover {
    opacity: 0;
}





/*SLICE*/


.btn {
    color: white;
    font-family: Bookman;
    padding: 10px 35px;
    background-color: brown;
    font-size: 18px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #464444;
    }


.hidden {
    background-color: #464444;
    position: absolute;
    color: #fff;
    margin-right: 20px;
    font-size: 40px;
}

    .hidden:hover {
        color: #464444;
    }


/*banner*/
.banner {
    margin-top: 5px;
}
.bannerLeft {
    height: 1100px;
    width: 800px;
    margin-right: 20px;
    float: left;   
    background-size: cover;
    position: relative;
    margin-left:20px;
}

.slide {
    float: left;   
    width: 800px;
    margin: 0 10px;
    overflow: hidden;
    
}

.chuyen-slide {
    width: 10000px;
    transition: all 0.5s;
}

.bb{
    width: 800px;
    height: 1100px;
    float: left;
}

.dieuhuong {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 48%;
    padding-left: 20px;
}

    .dieuhuong i:last-child {
        position: relative;
        left: 880px;
    }

.bannerRight {
    margin-bottom: 20px;
    width: 650px;
    height: 600px;
    float: left;
    background-image: url('../image/xong.jpg');
    background-size: cover;
    position: relative;
}

.textl {
    position: absolute;
    left: 350px;
    bottom: 150px;
    font-size: 50px;
}

.view1 {
    position: absolute;
    bottom: 120px;
    left: 470px;
    text-transform: uppercase;
}

.textR {
    position: absolute;
    padding-left: 20px;
    padding-top:30px;
    top: 30px;
    right: 270px;
    bottom: 75px;
    font-size: 60px;
    color: #464444;
}

.view2 {
    padding-left: 20px;
    position: absolute;
    top: 170px;
    right: 340px;
    bottom: 50px;
    text-transform: uppercase;
}

#bannerbottom {
    background-size: cover;
    float: left;
    width: 650px;
    background-image: url('../image/3.jpg');
    padding-top: 20px ;
    height: 450px;
    position: relative;
    padding-bottom: 10px;
}

.textB {
    position: absolute;
    padding-left: 20px;
    top: 30px;
    right: 270px;
    bottom: 75px;
    font-size: 60px;
    color: #464444;
}
/* content */
.banner {
    margin-top: 5px;
}


.textR {
    position: absolute;
    padding-left: 20px;
    top: 30px;
    right: 270px;
    bottom: 75px;
    font-size: 60px;
    color: #464444;
}



/* content */
#title {
    color: #818753;
    margin-bottom: 5px;
    font-size: 50px;
}

    #title strong {
        color: #585858;
    }

.sp, .Name, .gia, .mua {
    width: 285px;
    margin-left: 20px;
    float: left;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

    .sp:first-child, .Name:first-child, .gia:first-child, .mua:first-child {
        margin-left: 0;
    }

.sp {
    margin-bottom: 5px;
}

    .sp img, image {
        transition: all 0.3s ease-in-out;
       
        transform: scale(1.5);
    }

        .sp img:hover, image:hover {
           
            transform: scale(1.0);
        }

    .sp img, image {
        height: 374px;
    }



.name {
    font-size: 22px;
    text-align: center;
    color: #818753;
    margin-bottom: 5px;
}

.gia {
    text-align: center;
    font-size: 25px;
    color: #818753;
    text-align: center;
}

    .gia span {
        font-size: 20px;
    }

.mua {
    text-align: center;
}
/* FOOTER*/
.about {
    width: 400px;
    float: left;
}

    .about #trai {
        width: 70px;
        height: 38px;
        margin-top: 15px;
        margin-right: 20px;
        float: left;
    }

    .about #phai {
        width: 245px;
        color: #6C6666;
        float: left;
    }

.contact {
    width: 400px;
    float: left;
}

    .contact p {
        margin-top: 10px;
        color: #6C6666;
    }

    .contact span {
        font-size: 22px;
        font-weight: bold;
    }

.link {
    width: 300px;
    float: left;
}

    .link p {
        margin-top: 45px;
    }

.footer {
    margin-top: 10px;
}
