body {
}
*{
    margin:0;
    padding:0;
}
.khung {
    margin-left: 500px;
    height: 500px;
    width: 800px;
    border: 2px solid #b1154a;
}

.lb{
    font-size: 25px;
    margin-left: 130px;
    color:brown;
    
}


.anh {
    border: 2px solid #b1154a;
    height: 400px;
    width: 300px;
}

.noidung{
    width: 500px;
}
.btn{
    font-size:20px;
    background-color:brown;
    color:white;
    margin-top:20px;
    margin-left: 100px;
}
.ten {
    font-size: 25px;
    padding-right: 5px;
    color: brown;
    text-align: right;
    margin-right: 5px;
}