body {
    background-color: antiquewhite;
    
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: brown;
}

ul {
    list-style-type: none;
}


p {
    color: #464444;
    font-size: 18px;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    transition: all 0.5s ease-in-out;
}

.sticky {
    background-color: #fff;
    opacity: 0.9;
    padding: 2px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

    .sticky #mainmenu a {
        color: #000;
    }
/*menu*/

.innerheader {
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#mainmenu {
    display: flex;
}

    ul#mainmenu a {
        display: block;
        color: #fff;
        padding: 10px 20px;
        text-transform: uppercase;
    }

.innerheader img {
    width: 100px;
    height: 60px;
}

innerheader img:hover {
    opacity: 0;
}

.khung{ 
    font-family:Bookman;
    margin:100px 0 0 40px;
    width:700px;
    height: 900px;
    background-color:white;
    color:black;
    text-align:center;
    float:left;
}



p{
    
    font-size: 25px;
    padding-top:10px;
}
h1{
    padding-top:10px;
}
h2{
    padding-bottom:20px;
    color:brown;
    font-size:40px;
}
h3{
    font-size:35px;
}
.btn {
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    border: 15px;
}